<!DOCTYPE html>
<html>

<head>
  <title>The IT MAN</title>
 <style>

 </style>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/style.css" title="style" />
   <script language="javascript">
function deleteRecord(form){
    var res=confirm('Do you want to delete the record?');
    if(res==true)
    {
    form.action="/deletepr";
    }
    else
     {
    form.action="/delete";
     }
}
</script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h2><a href="index.html">THE IT<span class="logo_colour">MAN</span></a></h2>
          <h1>Renewal Management System</h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="dropdown"><a href="{{ url_for('homemain') }}">Home</a></li>
          <li><div class="dropdown">
<button class="dropbtn">PRODUCTS</button>
<div class="dropdown-content">

<a href="{{ url_for('product') }}">New Product</a>
<a href="{{ url_for('updateproduct') }}">Update</a>
<a href="{{ url_for('viewproduct') }}">View</a>
<a href="{{ url_for('delete') }}">Delete</a>

</div>
</div></li>
          <li><div class="dropdown">
<button class="dropbtn">VENDOR</button>
<div class="dropdown-content">

<a href="{{ url_for('vendorreg') }}">New Vendor</a>
<a href="{{ url_for('updatevendor') }}">Update</a>
<a href="{{ url_for('allvendordetails') }}">View</a>

</div>
</div></li>
          <li><div class="dropdown">
<button class="dropbtn">CUSTOMER</button>
<div class="dropdown-content">

<a href="{{ url_for('customerreg') }}">New Customer</a>
<a href="{{ url_for('updatecustomer') }}">Update</a>
<a href="{{ url_for('custdetails') }}">View</a>
<a href="{{ url_for('deletecustomer') }}">Delete</a>
<a href="{{ url_for('customerproduct') }}">Product</a>

</div>
</div></li>

          <li><a href="{{ url_for('renewal') }}">Renewal</a></li>
        </ul>
      </div>
    </div>
   <center>
<form method="post" name="f1" onsubmit="deleteRecord(this);">

<br><br><br>
<TABLE cellpadding="15" border="1" style="background-color: #ffffcc;">
    <TR><TD>SELECT</TD><SELECT><TD>PID</TD><TD>VENDORNAME</td><TD>CATEGORY</td><TD>PNAME</td><TD>COMPANY</td><TD>QUANTITY</td><TD>UNIT</td><TD>PRICE</td><TD>PEXDATE</td><TD>PURCHASEDATE</td></TR>
{% for row in data %}
    <TR>
    <td><input type="radio"   Name="pid"   value="{{ row[0] }}"></td>

<TD>{{ row[0] }}</TD>
<TD>{{ row[1] }}</TD>
<TD>{{ row[2] }}</TD>
<TD>{{ row[3] }}</TD>
<TD>{{ row[4] }}</TD>
<TD>{{ row[5] }}</TD>
<TD>{{ row[6] }}</TD>
<TD>{{ row[7] }}</TD>
<TD>{{ row[8] }}</TD>
<TD>{{ row[9] }}</TD>
</TR>
{% endfor %}


</center>

</table>
<input type="submit" name="delete" value="Delete" style="background-color:grey;font-weight:bold;color:#ffffff;" >

</form>
</body>
</html>
